.game-details {
    display: flex;
    background: rgba(199, 141, 141, 0.26);
    height: max-content;
    margin: 20px;
}

.header{
    color: red;
}
.game-image {
    max-height: 400px;
    margin: 20px;
}

.about-game {
    margin: 20px;
    text-align: center;
}

.ui.circular.segment {
    margin: 20px;
}


@media only screen and (max-width: 1000px) {

.game-details {
        justify-content: center;
        flex-direction: column;
        height: max-content;
        align-items: center;
        text-align: center;
    }
}