.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25vh;
    margin: 1vh;
    overflow: hidden;
    text-align: center;
}

.reccomended h4 { 
    margin-bottom: 2vh;
}


@media only screen and (max-width: 1000px) {
    .game-card {
        align-self: center;
    }
    
}