.game-details {
    display: flex;
    flex-wrap: wrap;
    background: #9d9fa063;
    height: max-content;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 2vh;
    margin-top: -5vh;
    border-top: white dashed 1px;
}

.game-image {
    max-height: 30vh;
    margin: 1vh;
    border: solid white 2px;
}

.ui.text.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 3vh;
        text-align: center;
        height: max-content;
}

.button.ui.fade.animated.button {
    width: max-content;
    align-self: center;
}

.ui.circular.segment{
    align-self: flex-end;
    align-self: center;
}

h1.ui.header {
    color: rgb(0, 0, 0);
    transform: scale(1.5);
    margin: 2vh;
}

@media only screen and (max-width: 1000px) {

.game-details {
    margin: 0vh;
    flex-direction: column;
    height: max-content;
    align-items: center;
}



.game-image {
    width: 100%;
}

}