.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .game-card {
        align-self: center;
    }
    
}