.game-details {
    display: flex;
    background: rgba(179, 175, 175, 0.404);
    height: max-content;
    margin-top: -10vh;
    border: solid white 1px;
    padding: 2vh;
    flex-wrap: nowrap;
}

.game-image {
    height: 40vh;
    margin: 2vh;
    max-width: 40vh;
    border: solid white 1px;
}

.ui.text.container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        padding-top: 3vh;
        text-align: center;
        background-color: rgba(212, 211, 211, 0.753);
        border: white 1px dotted;
        height: max-content;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2vh;

}

@media only screen and (max-width: 1000px) {

.game-details {
    margin: 0vh;
    flex-direction: column;
    height: max-content;
    align-items: center;
}

.game-image {
    width: 100%;
}

}