.nav {
    background-color: rgba(255, 0, 0, 0.89);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;
    color: white;
    
}

form {
    display: flex;
    height: max-content;
}

.search-button {
    height: max-content;
}

.logo {
    margin-right: 300px;
}

input{
    width: 500px;
}


@media only screen and (max-width: 1000px) {
    .nav {
      flex-direction: column;
      align-items: center;
    }

    .logo {
        margin: 10px;
        align-self: center;
    }

    input {
        width: 300px;
    }


  }