.nav {
    background-color: rgba(255, 0, 0, 0.89);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
    
}

form {
    display: flex;
    height: max-content;
}

.search-button {
    height: max-content;
    border-radius: 4px;
    align-self: center;
    margin: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.63);
    color: white; 
}

.logo {
    margin-right: 40px;
    align-self: center;
    border: solid 1px white;
    border-radius: 4px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.63);
}

.search-bar {
    width: 500px;
    height: max-content;
    align-self: center;
    
}


@media only screen and (max-width: 1000px) {
    .nav {
      flex-direction: column;
      align-items: center;
    }

    .logo {
        transform: scale(0.6);
        margin: 10px;
        align-self: center;
    }

    .search-bar {
        width: 300px;
    }

    form {
        flex-direction: column;
        align-items: center;
        height: max-content;
    }

    button {
        width: max-content;
        padding: 10px;
    }

  }