.reccomended {
    background: rgba(216, 122, 122, 0.281);
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;

}

@media only screen and (max-width: 1000px) {
    .reccomended{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}