.reccomended {
    background: #0f0f0f;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid white 4px;
}

.reccomended h4 {
    color: white;
}

@media only screen and (max-width: 1000px) {
    .reccomended{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: max-content;
    }
}